*{
    margin: 0;
    padding: 0;
}

.Button {
    margin-left: 715px;
    margin-top: 337px;
    size: b5;
}

h1 {
    margin-left: 600px;
    margin-top: 100px;
}

h2 {
    margin-left: 450px;
    margin-top: 50px;
}

html{
    background-image: linear-gradient( #a770ef, #cf8bf3,#fdb99b);
    height: 712px;
}

button {
    width: 80px;
    height: 30px;
    margin-bottom: 35px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}


