*{
    margin: 0;
    padding: 0;
}

/* .container{
    margin-left: 650px;
    margin-top: 250px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
} */

html {
    margin-left: 700px;
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

.type {
    margin-top: 30px;
}

.box {
    margin-top: 30px;
    margin-left: 57px;
}

.container {
    background-color: gainsboro;
    width: 168px;
    border-radius: 10px;
}

html {
    background-color: rgb(254, 142, 142);
}
.container{
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
}
.container {
    width: 300px;
    height: 300px;
    margin-left: -100px;
    margin-top: -50px;
}

input.email {
    width: 250px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 50px;
}

input.password {
    width: 250px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 35px;
}

button {
    width: 90px;
    height: 30px;
    margin-left: 45px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
}