*{
    margin: 0px;
    padding: 0px;
}

.container {
    margin-left: 700px;
    margin-top: 200px;
    justify-content: space-between;   
}


.container {
    background-image: linear-gradient(45deg, gray, transparent);
    background-color: lavenderblush;
    width: 168px;
    border-radius: 10px;
}

html {
    background-image: linear-gradient(150deg, rgb(255, 255, 255),rgb(164, 147, 147),rgb(34, 134, 201));
    height: 713px;
    width: 1536px;    
}

.container{
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
}
/* .container {
    background-color: #eedcdc;
} */
/* .container{
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
} */
.container {
    width: 370px;
    height: 460px;
    margin-left: 590px;
    margin-top: 115px;
}

.secondname {
    margin-left: 105px;
    margin-top: 40px;
}

.date {
    margin-left: 105px;
    margin-top: 40px;
}

.main {
    margin-left: 105px;
    margin-top: 45px;
}

.type {
    margin-left: 105px;
    margin-top: 40px;
}
button {
    margin-left: 155px;
    margin-top: 50px;
}

.name{
    margin-left: 105px;
}
button {
    margin-top: 60px;
}

input.first {
    width: 200px;
    border-radius: 10px;
    height: 30px;
    border-style: none;
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
}

input.second {
    width: 200px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    text-align: center;
}

input.D.O.B {
    width: 200px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    text-align: center;
}

input.email {
    width: 200px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

input.password {
    width: 200px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    width: 415px;
    height: 530px;
    margin-top: 150px;
    margin-top: 50px;
}
.container {
    margin-top: 95px;
}